@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --PRIMARY: #eee;
    --ACCENT: #009e8c;
    --ACCENT-LIGHT: #00cfb7;
    --FONT: "Open Sans", sans-serif;
    --HEADING-WEIGHT: 800;
    --TEXT-WEIGHT: 300;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

