@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --PRIMARY: #eee;
    --ACCENT: #009e8c;
    --ACCENT-LIGHT: #00cfb7;
    --FONT: "Open Sans", sans-serif;
    --HEADING-WEIGHT: 800;
    --TEXT-WEIGHT-BOLD: 500;
    --TEXT-WEIGHT: 300;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--FONT);
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    column-gap: 3rem;
    padding: 1rem 0;
    background-color: var(--PRIMARY);
    margin-bottom: 1rem;
}

header h3 {
    font-weight: var(--HEADING-WEIGHT);
}

header a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: var(--TEXT-WEIGHT-BOLD);
    transition: opacity 0.2s;
}

header a:hover {
    opacity: 0.6;
}

h1 {
    font-weight: var(--HEADING-WEIGHT);
}

#highlight {
    color: var(--ACCENT)
}
