@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --PRIMARY: #eee;
    --ACCENT: #009e8c;
    --ACCENT-LIGHT: #00cfb7;
    --FONT: "Open Sans", sans-serif;
    --HEADING-WEIGHT: 800;
    --TEXT-WEIGHT-BOLD: 500;
    --TEXT-WEIGHT: 300;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--FONT);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    padding: 1.5rem 0;
    background-color: var(--PRIMARY);
}

header h3 {
    font-weight: var(--HEADING-WEIGHT);
    margin-bottom: 0;
    font-size: 1.6rem;
}

header a {
    font-size: 1.3rem;
    transition: opacity 0.2s;
}

a:hover {
    opacity: 0.8;
}

h1 {
    font-weight: var(--HEADING-WEIGHT);
}

#hero {
    background: linear-gradient(to bottom, var(--PRIMARY), rgba(255, 255, 255, 0)),
    url(../forrasok/fooldal_forrasok/torino.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.5rem;
}

#hero-text h1 {
    font-size: min(7vw, 4rem);
    white-space: nowrap;
}

#hero-text p {
    margin: 0.5rem 0;
    font-size: min(3.5vw, 2rem);
    width: clamp(350px, 65%, 1000px);
    display: block;
}

#beszam {
    padding: 1.5rem;
    background-color: var(--ACCENT);
}

#beszam p {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

#beszam li {
    color: var(--PRIMARY);
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 300
}

#kep-tarolo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    margin: auto;
    gap: 0.75rem;
    padding-inline: 3rem;
}

#kep-tarolo .kep {
    background-color: #00cfb7; /* placeholder */
    aspect-ratio: 2 / 1;
    border-radius: 0.5rem;
    opacity: 0.7;
    transition: transform 0.35s ease-in-out, opacity 0.2s ease-in-out;
}

#kep-tarolo:has(.kep:hover) .kep {
    transform: scale(0.95);
    opacity: 0.5;
}

#kep-tarolo:has(.kep:hover) .kep:hover {
    transform: scale(1.05);
    opacity: 1;
}

footer {
    text-align: center;
    margin-top: 1rem;
    padding: 2rem 0;
    background-color: var(--ACCENT);
}

footer p {
    margin: 0;
    font-size: 1.4rem;
    color: var(--PRIMARY);
}

/* -- */

#highlight {
    color: var(--ACCENT)
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: var(--HEADING-WEIGHT);
    margin: 1rem 0;
}

a {
    text-decoration: none;
    color: black;
    font-weight: var(--TEXT-WEIGHT-BOLD);
}

@keyframes rockingAnimation {
    0% { transform: rotate(-1deg); }
    50% { transform: rotate(1deg); }
    100% { transform: rotate(-1deg); }
}
