@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --PRIMARY: #eee;
    --ACCENT: #009e8c;
    --ACCENT-LIGHT: #00cfb7;
    --FONT: "Open Sans", sans-serif;
    --HEADING-WEIGHT: 800;
    --TEXT-WEIGHT-BOLD: 500;
    --TEXT-WEIGHT: 300;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--FONT);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    padding: 1.5rem 0;
    background-color: var(--PRIMARY);
}

header h3 {
    font-weight: var(--HEADING-WEIGHT);
    margin-bottom: 0;
    font-size: 1.6rem;
}

header a {
    font-size: 1.3rem;
    transition: opacity 0.2s;
}

header a:hover {
    opacity: 0.6;
}

h1 {
    font-weight: var(--HEADING-WEIGHT);
}

#hero {
    background: linear-gradient(to bottom, var(--PRIMARY), rgba(255, 255, 255, 0)),
    url(../forrasok/fooldal_forrasok/torino.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.5rem;
}

#hero-text h1 {
    font-size: min(7vw, 4rem);
    white-space: nowrap;
}

#hero-text p {
    margin: 0.5rem 0;
    font-size: min(3.5vw, 2rem);
    width: clamp(350px, 65%, 1000px);
    display: block;
}

#beszam {
    padding: 1.5rem;
    background-color: var(--ACCENT-LIGHT);
}

#beszam li a {
    color: var(--PRIMARY);
}

/* -- */

#highlight {
    color: var(--ACCENT)
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: var(--HEADING-WEIGHT);
    margin: 1rem 0;
}

a {
    text-decoration: none;
    color: black;
    font-weight: var(--TEXT-WEIGHT-BOLD);
}
