header {
    grid-area: h;
    display: grid;
    grid-template-areas: 
    "h3 n n"
    ;
}

nav { 
    grid-area: n; 
}

aside  {
    grid-area: as; 
}

article{
    grid-area: ar;
    display: grid;
    grid-template-areas: 
    ""
    ;
}
#arti1 {
    grid-area: ar1; 
}

#arti2 { 
    grid-area: ar2;
}

#arti3 { 
    grid-area: ar3;
}

footer { 
    grid-area: f; 
}

main {
    display: grid;
    grid-template-areas:
    "h h h"
    "ar ar ar"
    "ar ar ar"
    "ar2 ar2 ar3"
    "f f f";
}