@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    background-color: white;
}

h1 {
    grid-area: h1;
}

h2 {
    grid-area: h2;
}

a {
    text-decoration: none;
    grid-area: a;
    color: white;
}

p {
    grid-area: p;
    text-align: center;
}

img {
    grid-area: im;
    width: 100%;
}

table {
    grid-area: ta;
    border-collapse: collapse
}

td, th { 
    border: 1px solid #143C96;

}

th {
    background-color: #143C96;
    padding: 10px;
}

td {
    text-align: center;
}

header {
    grid-area: h;
    padding: 1.5rem;
    text-align: center;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "h3 n n"
    ; */
    color: white;
    background-color: #143C96;
}

header h3, header nav {
    display: inline-block;
    margin-inline: 3rem;
}

h3 {
    margin: 0;
}

nav { 
    grid-area: n; 
    text-decoration: none;
    margin: 0
}

aside  {
    grid-area: as; 
}

article{
    grid-area: ar;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
}

#arti0 {
    grid-area: ar0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "h1 h1 im"
    "n n im"
    "n n im";
    color: white;
    background-color: rgb(163, 163, 163);
}

#arti1 {
    grid-area: ar1; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "im h2 h2"
    "im p p"
    "im p p"
    ;
    color: white;
    background-color: #143C96;
}

#arti2 { 
    grid-area: ar2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "h2 h2 im"
    "p p im"
    "p p im"
    ;
    color: white;
    background-color: rgb(163, 163, 163);
}

#arti3 { 
    grid-area: ar3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "h2 h2 h2"
    "p p p"
    "ta ta ta";
    color: white;
    background-color: rgb(163, 163, 163);
}

footer { 
    grid-area: f; 
    text-align: center;
    color: white;
    background-color: #143C96;
}

main {
    display: grid;
    grid-template-areas:
    "h h h"
    "ar0 ar0 ar0"
    "ar1 ar1 ar1"
    "ar2 ar2 ar2"
    "ar3 ar3 ar3"
    "f f f";
}