@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-areas:
    "h h h"
    "ar1 ar1 ar1"
    "ar2 ar2 ar2"
    "ar3 ar3 ar3"
    "ar4 ar4 ar4";
}

body {
    font-family: 'sans-serif', 'Open Sans';
    overflow-x: hidden;
}

h1 {
    grid-area: h1;
    padding: 10px;
    margin: 10px;
}

h2 {
    grid-area: h2;
    padding: 10px;
    margin: 10px;
}

h3 {
    grid-area: h3;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    color: rgb(240, 255, 240);
}

p {
    padding: 10px;
    margin: 10px;
    color: rgb(20, 50, 20);
}

img {
    padding: 10px;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 10px;
    margin: 10px;
}

table {
    padding: 10px;
    margin: 10px;
}

li {
    color: #2f4f2f;
    padding: 10px;
    margin: 10px;
}

a {
    text-decoration: none;
    text-align: center;
    color: #3a5f0b;
    font-size: 30px;
    font-weight: bold;
}

a:hover {
    color: #9bc53d;
    background-color: #f0fff0;
    border-radius: 5px;
    padding: 5px 10px;
}

header {
    grid-area: h;
    display: grid;
    grid-template-areas: 
    "h3 n";
    padding: 5px;
    background-color: #7fb069; 
}

nav {
    grid-area: n;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header h3 {
    margin: 3px;
}

#article1 {
    grid-area: ar1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "h1 h1 ar1img"
    "ar1p ar1p ar1img";
    padding: 10px;
    background-color: #dcedc1; 
}

#article1 img {
    grid-area: ar1img;
    background-color: #a3c48f; 
    border-radius: 5px;
}

#article1 h1 {
    margin-left: 0;
    text-align: center;
    font-size: 60px;
    color: #3a5f0b; 
}

#article1 p {
    grid-area: ar1p;
    margin-left: 0;
    font-size: 35px;
    max-width: 800px;
}

#article2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: ar2;
    grid-template-areas: 
    "ar2img ar2s";
    padding: 10px;
    background-color: #7fb069;
}

#article2 img {
    grid-area: ar2img;
    background-color: #dcedc1;
    border-radius: 5px;
    margin: auto;
}

#article2 section {
    display: grid;
    grid-area: ar2s;
    grid-template-areas: 
    "h2"
    "ar2p";
}

#article2 h2 {
    font-size: 40px;
    color: #2f4f2f;
}

#article2 p {
    grid-area: ar2p;
    font-size: 30px;
}

#article3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "ar3s ar3img";
    grid-area: ar3;
    padding: 10px;
    background-color: #dcedc1;
}

#article3 section {
    grid-area: ar3s;
    margin: auto;
    max-width: 900px;
}

#article3 h2 {
    font-size: 60px;
    color: #3a5f0b;
}

#article3 ul {
    font-size: 30px;
}

#article3 img {
    grid-area: ar3img;
    background-color: #a3c48f;
    border-radius: 5px;
}

#article4 {
    display: grid;
    grid-template-areas: 
    "h2"
    "ar4p"
    "ar4t";
    grid-area: ar4;
    padding: 10px;
    background-color: #7fb069;
}

#article4 h2 {
    font-size: 50px;
    color: #3a5f0b;
    text-align: center;
    background-color: #f0fff0;
    border-radius: 10px;
}

#article4 p {
    grid-area: ar4p;
    text-align: center;
    font-size: 20px;
}

#article4 table {
    grid-area: ar4t;
    border-collapse: collapse;
    border: 2px solid #3a5f0b;
    margin: 0 auto;
    max-width: 100%;
}

#article4 tr:nth-child(odd) {
    background-color: #f0fff0;
    color: #7fb069;
    font-weight: bold;
}

#article4 tr:nth-child(even) {
    background-color: #7fb069;
    color: #f0fff0;
    font-weight: bold;
}

#article4 th,
#article4 td {
    border: 1px dotted #3a5f0b;
    padding: 8px;
    text-align: left;
}

footer h3 {
    text-align: center;
    font-size: 30px;
    color: #3a5f0b;
}

@media screen and (max-width: 600px) {

    header {
        grid-template-areas: 
        "h3"
        "n";
    }

    nav {
        flex-direction: column;
    }

    a {
        font-size: 20px;
    }

    #article1 {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "ar1img"
        "h1"
        "ar1p";
    }

    #article1 h1 {
        font-size: 40px;
    }

    #article1 p,
    #article2 p {
        font-size: 20px;
    }

    #article2 {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "ar2img"
        "ar2s";
    }

    #article3 {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "ar3s"
        "ar3img";
    }

    #article3 h2 {
        font-size: 40px;
        text-align: center;
    }

    #article3 ul {
        font-size: 20px;
    }
}
