@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-areas:
    "h h h"
    "ar1 ar1 ar1"
    "ar2 ar2 ar2"
    "ar3 ar3 ar3"
    "ar4 ar4 ar4"
;
}

body {
    font-family: 'sans-serif', 'Open Sans';
}

h1 {
    grid-area: h1;
    padding: 10px;
    margin: 10px;
}

h2 {
    grid-area: h2;
    padding: 10px;
    margin: 10px;
}

h3 {
    grid-area: h3;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    color: rgb(240, 255, 240);
}

p {
    padding: 10px;
    margin: 10px;
    color: rgb(20, 50, 20);
}

img {
    padding: 10px;
}

ul {
    padding: 10px;
    margin: 10px;
}

table {
    padding: 10px;
    margin: 10px;
}

li {
    color: #2f4f2f;
    padding: 10px;
    margin: 10px;
}

a {
    text-decoration: none;
    text-align: center;
    color: #3a5f0b;
    font-size: 30px;
    font-weight: bold;
}

a:hover {
    color: #9bc53d;
    background-color: #f0fff0;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

header {
    grid-area: h;
    display: grid;
    grid-template-areas: 
    "h3 n"
    ;
    margin: 0px;
    padding: 5px;
    background-color: #7fb069; 
}

nav {
    grid-area: n;
}

header h3 {
    margin: 3px;
}

header nav {
    margin-top: 10px;
}

#article1 {
    grid-area: ar1;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-template-areas: 
    "h1 h1 ar1img"
    "ar1p ar1p ar1img"
    ;
    margin-bottom: 0;
    padding: 10px;
    background-color: #dcedc1; 
}

#article1 img {
    grid-area: ar1img;
    width: 100%;;
    max-width: 1000px;
    max-height: 600px;
    margin-left: 0;
    margin-right: 1000px;
    background-color: #a3c48f; 
    border-radius: 5px;
}

#article1 h1 {
    margin-top: 50px;
    margin-left: 250px;
    font-size: 60px;
    color: #3a5f0b; 
}

#article1 p {
    grid-area: ar1p;
    margin-left: 300px;
    font-size: 35px;
    width: 600px;
}   

#article2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: ar2;
    grid-template-areas: 
    "ar2img ar2s"
    "ar2img ar2s"
    "ar2img ar2s"
    ;
    margin-bottom: 0;
    padding: 10px;
    background-color: #7fb069;
}

#article2 p {
    grid-area: ar2p;
    font-size: 30px;
    margin-right: 300px;
}

#article2 h2 {
    font-size: 40px;
    color: #2f4f2f;
}

#article2 img {
    grid-area: ar2img;
    width: 100%;
    max-width: 800px;
    max-height: 1000px;
    margin-right: 400px;
    margin-left: 0px;
    margin-top: 15px;
    background-color: #dcedc1;
    border-radius: 5px;
}

#article2 section {
    display: grid;
    grid-area: ar2s;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "h2 h2"
    "ar2p ar2p"
    ;
    margin-right: 0;
}

#article3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "ar3s ar3img"
    "ar3s ar3img"
    ;
    grid-area: ar3;
    margin-bottom: 0;
    padding: 10px;
    background-color: #dcedc1;
}

#article3 p {
    grid-area: ar3p;
}

#article3 h2 {
    font-size: 60px;
    margin-top: 50px;
    color: #3a5f0b;
}

#article3 section {
    display: grid;
    grid-template-areas: 
    "h2"
    "ar3ul"
    ;
    grid-area: ar3s;
    margin-right: 10px;
    margin-left: 270px;
}

#article3 img {
    grid-area: ar3img;
    width: 100%;
    max-width: auto;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #a3c48f;
    border-radius: auto;
}

#article3 ul {
    grid-area: ar3ul;
    padding: 0;
    margin-left: 60px;
    margin-bottom: 50px;
    font-size: 30px;
}

#article3 li {
    margin: 0;
    padding: 10px;
}

#article4 {
    display: grid;
    grid-template-areas: 
    "h2 h2"
    "ar4p ar4p"
    "ar4t ar4t" 
    ;
    grid-area: ar4;
    padding: 10px;
    margin-bottom: 0;
    background-color: #7fb069;
}

#article4 h2 {
    font-size: 50px;
    color: #3a5f0b;
    text-align: center;
    background-color: #f0fff0;
    border-radius: 10px;
}

#article4 p {
    grid-area: ar4p;
    text-align: center;
    font-size: 20px;
}

#article4 table {
    grid-area: ar4t;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #3a5f0b;
    margin: 20px;
    width: 1600px;
    height: 350px;
    margin: 0 auto;
}

#article4 tr:nth-child(odd) {
    background-color: #f0fff0;
    color: #7fb069;
    font-weight: bold;
}

#article4 tr:nth-child(even) {
    background-color: #7fb069;
    color: #f0fff0;
    font-weight: bold;
}

#article4 th {
    border: 1px dotted #3a5f0b;
    padding: 8px;
    text-align: left;
    color: #3a5f0b;
}

#article4 td {
    border: 1px dotted #3a5f0b;
    padding: 8px;
    text-align: left;
}

footer h3 {
    margin: 0;
    text-align: center;
    font-size: 30px;
    color: #3a5f0b;
}

@media screen and (max-width: 600px) {
    
    header {
        grid-template-areas: 
        "h3"
        "n"
        ;
    }

    header nav {
        text-align: center;
    }

    header h3 {
        text-align: center;
    }

    a {
        font-size: 20px;
    }

    #article1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "ar1img"
        "h1"
        "ar1p"
        ;
    }

    #article1 img {
        max-width: 450px;
        height: 500px;
        margin: 10px;
    }

    #article1 h1 {
        font-size: 40px;
        text-align: center;
        margin: 3px auto;
        padding: 3px;
    }

    #article1 p {
        font-size: 20px;
        text-align: justify;
        margin: 0;
        padding: 3px;
        width: auto;
    }

    #article2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "ar2img"
        "ar2s"
        ;
    }

    #article2 img {
        max-width: 500px;
        height: 310px;
        margin: 10px auto;
    }

    #article2 section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h2"
        "ar2p"
        ;
    }

    #article2 h2 {
        font-size: 30px;
        text-align: center;
        margin: 3px;
        padding: 3px;
    }

    #article2 p {
        font-size: 20px;
        text-align: justify;
        margin: 0;
        padding: 0px;
    }
    
    #article3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "ar3s"
        "ar3img"
        ;
    }

    #article3 img {
        max-width: 400px;
        height: 500px;
        margin: 10px auto;
    }

    #article3 section {
        margin-left: 0px;
        margin-right: 0px;
    }

    #article3 h2 {
        font-size: 40px;
        text-align: center;
        margin-left: 0px;
        margin-top: 10px;
        padding: 3px;
    }

    #article3 ul {
        margin-left: 10%;
        font-size: 20px;
    }

    #article3 li {
        padding: 5px;
    }

   #article4 {
        padding: 10px;
        padding-left: 0;
        padding-right: 0;
    }
    
    #article4 h2 {
        font-size: 30px;
        margin: 5px;
        padding: 5px;
    }
    
    #article4 table {
        width: 1200px;
        overflow-x: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    #article4 {
        grid-template-areas: 
        "h2"
        "ar4p"
        "ar4t"
        ; 
        overflow-x: auto; 
    }
    
    #article4 h2{
        background-color: #7fb069;
    }

    #article4 p {
        background-color: #7fb069;
    }
}
