* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

header {
    padding: 10px;
}

header h3 {
    text-align: center;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px;
}

main {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 20px 0;
}

article {
    margin-bottom: 30px;
}

article h1 {
    margin-bottom: 10px;
    font-size: 1.4rem;
}

article img {
    width: 100%;
    max-width: 600px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    height: auto;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

article p {
    text-align: justify; 
}

footer {
    padding: 15px 0;
    text-align: center;
}

@media (min-width: 700px) {
    article {
        display: flex;
        gap: 20px;
        align-items: flex-start;
    }

    article img {
        width: 40%;
    }

    article p {
        width: 60%;
    }
}
