body {
    background-color: aquamarine;
    font-family: sans-serif
}
main {

}
nav{
border:solid gray 5px ;
padding: 5px;
background-color: lightgray;
word-spacing: 5px;
}
a{
    text-decoration: none;
}
#article1 {

}
#article2 {
    
}
#article3 {

}
footer {
text-align: center;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}