* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: grid
    grid-template-areas:
    ""
    ""
    ""
    ""
    ""
    

;
}

body {
    font-family: sans-serif;
}

h1 {
    padding: 10px;
    margin: 10px;
}

h2 {
    padding: 10px;
    margin: 10px;
}

h3 {
    padding: 10px;
    margin: 10px;
}

p {
    padding: 10px;
    margin: 10px;
}

img {
    max-width: 300px;
    padding: 10px;
    margin: 10px;
}

ul {
    padding: 10px;
    margin: 10px;
}

table {
    padding: 10px;
    margin: 10px;
}

li {
    padding: 10px;
    margin: 10px;
}

header {
    grid-area: h;
    display: grid;
    grid-template-areas: 
    ""
    ;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

nav {
    grid-area: n;
}

section {
    grid-area: s;
}

header h3 {
    margin: 3px;
}

header nav {
    margin: 3px;
}

#article1 {
    grid-area: ar1;
    margin-bottom: 20px;
    padding: 10px;
}

#article1 img {
    width: 100%;
    max-width: 300px;
    margin-left: 10px;
    margin-right: 0;
}

#article1 h1 {
    margin-left: 0;
}

 #article1 p {
    margin-left: 0;
 }   

#article2 {
    grid-area: ar2;
    margin-bottom: 20px;
    padding: 10px;
}

#article2 img {
    width: 100%;
    max-width: 300px;
    margin-right: 10px;
    margin-left: 0;
}

#article2 section {
    width: 100%;
    max-width: 600px;
    margin-right: 0;
}


#article3 {
    grid-area: ar3;
    margin-bottom: 20px;
    padding: 10px;
}

#article3 section {
    margin-right: 10px;
    margin-left: 0;
}

#article3 img {
    width: 100%;
    max-width: 300px;
    margin-left: 0;
    margin-right: 0;
}

#article3 ul {
    padding: 0;
    margin: 10px;
}

#article3 li {
    margin: 5px;
    padding: 10px;
}

#article4 {
    grid-area: ar4;
    padding: 10px;
    margin-bottom: 20px;
}

#article4 table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#article4 th, #article4 td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

footer h3 {
    margin: 0;
    text-align: center;
    font-size: 20px;
}