@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-areas:
    "h h h"
    "ar1 ar1 ar1"
    "ar2 ar2 ar2"
    "ar3 ar3 ar3"
    "ar4 ar4 ar4"
;
}

body {
    font-family: 'sans-serif', 'Open Sans';
}

h1 {
    grid-area: h1;
    padding: 10px;
    margin: 10px;
}

h2 {
    grid-area: h2;
    padding: 10px;
    margin: 10px;
}

h3 {
    grid-area: h3;
    padding: 10px;
    margin: 10px;
    color: rgb(255, 255, 255);
}

p {
    padding: 10px;
    margin: 10px;
    color: rgb(0, 0, 0);
}

img {
    padding: 10px;
}

ul {
    padding: 10px;
    margin: 10px;
}

table {
    padding: 10px;
    margin: 10px;
}

li {
    padding: 10px;
    margin: 10px;
}

a {
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    color: #6e5a00;
    font-weight: bold;
}

header {
    grid-area: h;
    display: grid;
    grid-template-areas: 
    "h3 n"
    ;
    margin: 0;
    padding: 10px;
    background-color:  #d3ad04; 
}

nav {
    grid-area: n;
}

header h3 {
    margin: 3px;
}

header nav {
    margin: 3px;
}

#article1 {
    grid-area: ar1;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-template-areas: 
    "h1 h1 ar1img"
    "ar1p ar1p ar1img"
    
    ;
    margin-bottom: 0;
    padding: 10px;
    background-color: #eeeeee;
}

#article1 img {
    grid-area: ar1img;
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    margin-left: 0;
    margin-right: 0;
    background-color: #d3ad04; 
}

#article1 h1 {
    margin-left: 0;
    font-size: 60px;
    color: #6e5a00;
}

 #article1 p {
    grid-area: ar1p;
    margin-left: 0;
    font-size: 35px;
 }   

#article2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: ar2;
    grid-template-areas: 
    "ar2img ar2s"
    "ar2img ar2s"
    "ar2img ar2s"
    ;
    margin-bottom: 0;
    padding: 10px;
    background-color: #d3ad04; 
}

#article2 p {
    grid-area: ar2p;
    font-size: 35px;
}

#article2 h2 {
    font-size: 40px;
    color: #584800;
}

#article2 img {
    grid-area: ar2img;
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    margin-right: 0;
    margin-left: 0;
    background-color: #eeeeee;
}

#article2 section {
    display: grid;
    grid-area: ar2s;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "h2 h2"
    "ar2p ar2p"
    ;
    margin-right: 0;
}


#article3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "ar3s ar3img"
    "ar3s ar3img"
    ;
    grid-area: ar3;
    margin-bottom: 0;
    padding: 10px;
    background-color:  #eeeeee;
}

#article3 p {
    grid-area: ar3p;
}

#article3 h2 {
    font-size: 60px;
    color: #6e5a00;
}

#article3 section {
    display: grid;
    grid-template-areas: 
    "h2"
    "ar3ul"
    ;
    grid-area: ar3s;
    margin-right: 10px;
    margin-left: 0;
}

#article3 img {
    grid-area: ar3img;
    width: 100%;
    max-width: 400px;
    max-height: 600px;
    margin-left: 0;
    margin-right: 0;
    background-color: #d3ad04;
}

#article3 ul {
    grid-area: ar3ul;
    padding: 0;
    margin-left: 20px;
    font-size: 30px;
}

#article3 li {
    margin: 0;
    padding: 10px;
}

#article4 {
    display: grid;
    grid-template-areas: 
    "h2 h2"
    "ar4p ar4p"
    "ar4t ar4t" 
    ;
    grid-area: ar4;
    padding: 10px;
    margin-bottom: 0;
    background-color: #d3ad04;
}

#article4 p {
    grid-area: ar4p;
}

#article4 table {
    grid-area: ar4t;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#article4 th, #article4 td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

footer h3 {
    margin: 0;
    text-align: center;
    font-size: 20px;
}